body {
  font-family: "Trebuchet MS", "Verdana", sans-serif;
  color: white;
  background-color: #595547;
}

a {
  color: #ff4f4f;
}
h1,
h3 {
  color: #9fc2f8;
}

h1 {
  font-size: 40pt;
}

.inside-text {
  color: #fff86b;
}
img {
  height: 200px;
}
